<div class="footer">
    <div class="w">
        <div class="links">
            <a href="http://www.imooc.com" class="link" target="_blank">慕课网</a>|
            <a href="http://www.imooc.com" class="link" target="_blank">慕课网</a>|
            <a href="http://www.imooc.com" class="link" target="_blank">慕课网</a>|
            <a href="http://www.imooc.com" class="link" target="_blank">慕课网</a>|
            <a href="http://www.imooc.com" class="link" target="_blank">慕课网</a>
        </div>
        <p class="copyright">
            copyright © 2019 binni All Right Reserved
        </p>
    </div>
</div>

<script src="https://cdn.bootcss.com/jquery/3.4.1/jquery.js"></script>